@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.search {
  border-radius: 70px;
  width: 400px;
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  outline-width: 0px;
}
.form {
  margin-left: 300px;
}
.Text-Top {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: black;
  margin-left: 10px;
}
.button-Top {
  background-color: #afd9e8;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 70px;
  height: 31px;
  border: 0px;
}
.Top-Heading {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.top-card-text {
  text-align: center;
}
.top-card-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-sub-div {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
.select-cateogry {
  margin-left: 30px;
}
.checkbox-text {
  font-size: 15px;
  color: grey;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.Top-Div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.card {
  border: 0px;
  width: 20rem;
  height: 20rem;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #251d3a;
  height: 300px;
  color: white;
  padding: 3px;
}
.text90 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  color: white;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .form {
    margin-left: 0px;
  }
  .search {
    width: 100%;
  }
}
